body {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10%;
    background-color:mintcream;
    text-shadow: 0 0 1px black; 
}

.background {
    background-image: url('./rest.jpg');
}

.welcome{
    padding: 2%;
    text-align: center;
}

.head {
    text-align: center;
}

h2 {
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

h4 {
    font-size: 10px;
}
.box {
    border: 2px solid gray;
    width: 450px;
    height: 550px;
    padding: 15px;
    margin: auto;
    box-shadow: 5px 5px 5px #888888;
    text-align: center;
}

.logo {
    height: 200px;
    width: 200px;
    margin: auto;
    padding: 0px;
    box-sizing: content-box

}

.butt {
    text-align: center;
}

